@import '~antd/dist/antd.css';

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.visualization {
  background-color: grey;
}

.panel {
  display: inline-block;
}

.flex-container {
  display: flex;
  height: 600px;
  background-color: rgba(204, 200, 200, 0.3);
  border: 2px;
  stroke: rgba(160, 151, 151, 0.3);
  padding: 5px;
  margin: 5px;
}

.flex-vis {
  flex: 1;
}

.flex-card {
  vertical-align: middle;
  flex: 1;
}
