.App {
  text-align: center;
}

canvas {
  display: block;
  width: 100 vw !important;
  height: 100 vh !important;
  touch-action: none;
}

canvas {
  display: block;
  width: 100vw !important;
  height: 100vh !important;
  touch-action: none;
}
