.App {
  text-align: center;
}

// canvas {
//   display: block;
//   width: 100 vw !important;
//   height: 100 vh !important;
//   touch-action: none;
// }

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  touch-action: none;
}
